#loading{
    margin: 0;
    padding: 0;
    background-color: black	;
    position: relative;
   height: 100vh;
   justify-content: center;
   align-items: center;
   display: flex !important;
}
#loading a{
    position: absolute;
    overflow: hidden;
    letter-spacing: 4px;
    padding: 22px;
    text-transform: uppercase;
    color: #00FFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    width: auto;
    height: auto;
   cursor: default;
  
}

 #loading a span:nth-child(1){
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,transparent,red);
    position: absolute;
 
    animation: 2s linear animate1 infinite both;
}
@keyframes animate1{
    from{
        position: absolute;
        top: 0px;
        left: -100%;
    }
    to{
        position: absolute;
        top: 0px;
        left: 100%;
    }
}
#loading a span:nth-child(2){
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg,transparent,red);
    position: absolute;
    top: 0px;
    right: 0px;
   
    animation: 2s linear animate infinite 1s both;
}
@keyframes animate{
    from{
        position: absolute;
        top: -100%;
        right:  0px;
    
    }
    to{
        position: absolute;
        top: 100%;
        right: 0px;
    }
}
#loading a span:nth-child(3){
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg,transparent,red);
    position: absolute;
   
    animation: 2s linear animate2 infinite both;
}
@keyframes animate2{
    from{
        position: absolute;
        bottom: 0px;
        right: -100%;
    }
    to{
        position: absolute;
        bottom: 0px;
        right: 100%;
    }
}
#loading a span:nth-child(4){
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg,transparent,red);
    position: absolute;
   bottom: 0;
   left: 0;
    animation: 2s linear animate3 infinite 1s both;
}
@keyframes animate3{
    from{
        position: absolute;
        bottom: -100%;
        left: 0px;
    }
    to{
        position: absolute;
        bottom:100%;
        left: 0px;
    }
}
  

#container{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
   background-color:  rgba(0,0,0,.3);
   overflow: scroll;
}

#searching {
    margin-left: 539px;
  
    display : flex;
    align-items: center;
    
    text-align: left;
  
}
#search{
    position: relative;
    top: -29px;
}
#khung-chứa {
    position: absolute;
    width : 55px;
    height : 38px;
    
    top : 23px;
    right:480px;
    cursor: pointer;
}

#tổng-quát{
    height: 140px;
    background:linear-gradient(0deg,#FF3399,#FF3333);
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#phần-đầu{
    height: 40px;
    margin: 0;
    padding: 0;
}
#phần-đầu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
    color: white;
    font-weight: 400;
}
#phần-trong{
    width: 65%;
    margin: 0 auto;
}
#phần-trong ul li a{
    text-decoration: none;
    color: white;
   
}
#phần-trong ul:nth-child(1) li{
    float: left;
    padding:  0 15px;
   
    line-height: 40px;
}
#phần-trong ul:nth-child(2) li{
    float: right;
    padding:  0 15px;
   
    line-height: 40px;
}
#phần-trong ul:nth-child(1) li #khoảng-cách{
     margin-right: 5px;
}
#phần-trong ul:nth-child(2) li a:hover{
    color: #666666;
}
#phần-trong ul:nth-child(1) #s a:hover{
    color: #666666;
}
#banner{
    height: 100px;
    position: relative;
}
#banner #menu{
    width: 65%;
    margin: 0 auto;
    line-height: 100px;
   
}
#banner #menu #khung i{
    font-size: 75px;
    color: white;
}
#pps{
    line-height: 100px;
    color: white;
    font-size: 45px;
}
#khung input{
    position: absolute;
   top: 23px;
   left: 600px;
    padding: 0;
    margin: 0;
    width : 800px;
    height : 38px;
    font-size : 20px;
}
.shop{
    top: 0;
    right: 340px;
    position: absolute;
   
}
#mainer{
    width: 100%;
    height: 5618px;
}
#mainer #đầu{
    width: 100%;
    height: 500px;
    background: linear-gradient(0deg,#66FF99,#66FFFF);
    z-index: 1;
}
*{
    box-sizing: border-box;
}
#mainer #đầu #inside{
    height: 100%;
    width: 65%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}
#mainer #đầu #inside div:nth-child(1){
    width: 100%;
    height: 100%;
   
}

#mainer #đầu #inside div:nth-child(1) div:nth-child(1){
    width: 100%;
    height: 33.33333333333%;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 20px;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(1):hover{
    background-color: #555555;
    cursor: pointer;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(1) div:nth-child(1){
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #888888;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(1) div:nth-child(1):hover{
    background-color: white	;
    cursor: pointer;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(2){
    height: 33.33333333333%;
    width: 50%;
    margin-right: 5px;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border-radius: 20px;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(2):hover{
    background-color: #555555;
    cursor: pointer;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(2) div:nth-child(1){
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #888888;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(2) div:nth-child(1):hover{
    background-color: white	;
    cursor: pointer;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(3){
    height: 33.33333333333%;
    width: 49.56%;
   float: left;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(3):hover{
    background-color: #555555;
    cursor: pointer;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(3) div:nth-child(1){
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #888888;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(3) div:nth-child(1):hover{
    background-color: white	;
    cursor: pointer;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(4){
    height: 33.33333333333%;
    width: 100%;
   float: left;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 5px ;
    margin-bottom: 5px;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(4):hover{
    background-color: #555555;
    cursor: pointer;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(4) div:nth-child(1){
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #888888;
}
#mainer #đầu #inside div:nth-child(1) div:nth-child(4) div:nth-child(1):hover{
    background-color: white	;
    cursor: pointer;
}




  
  



